body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 30px 30px;
    background-color: #f4f4f9;
    color: #333;
    font-size: 18px; /* 기본 폰트 크기 증가 */
}

.header {
    text-align: center;
    background-color: #f4f4f9;
    padding: 50px 0;
}

.header h1 {
    font-family: 'Lobster', cursive;
    font-size: 3.5em; /* 헤더 폰트 크기 증가 */
    color: #333;
    margin: 0;
}

.nav {
    display: flex;
    justify-content: center; /* 중앙 정렬 */
    background-color: #343a40;
    padding: 10px;
}

.nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em; /* 네비게이션 폰트 크기 증가 */
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center; /* 중앙 정렬 */
    padding: 20px;
    box-sizing: border-box;
}

.profile-section {
    max-width: 300px;
    margin-bottom: 20px; /* 아래쪽 여백 추가 */
    text-align: center;
    flex-shrink: 0;
}

.profile-pic {
    width: 100%;
    height: auto;
}

.education {
    margin-top: 10px;
    text-align: center;
    font-size: 1.1em; /* 폰트 크기 증가 */
}

.intro {
    max-width: 800px;
    text-align: center; /* 중앙 정렬 */
}

.intro h1 {
    font-family: 'Lobster', cursive;
    font-size: 3em; /* 폰트 크기 증가 */
    color: #444;
}

.intro p {
    font-size: 1.2em; /* 폰트 크기 증가 */
    color: #555;
}

.skills, .experience, #github-repos {
    margin: 20px 0;
    padding-left: 20px;
    text-align: left; /* 텍스트 정렬 왼쪽 */
    max-width: 800px;
}

.skills h2, .experience h2, #github-repos h2 {
    font-family: 'Lobster', cursive;
    text-align: center;
    font-size: 2.2em; /* 폰트 크기 증가 */
    color: #444;
}


.project {
    text-align: center; /* 프로젝트 텍스트 중앙 정렬 */
    margin-bottom: 30px;
    font-family: 'Raleway',sans-serif;
}

.project h3 {
    font-family: 'Raleway', sans-serif;
    text-align: left;
    font-size: 1.8em; /* 폰트 크기 증가 */
    color: #333;
}

.project h2 {
    font-family: 'Raleway', sans-serif;
    text-align: left;
}
.project h1 {
    text-align: center;
}
.project p {
    font-family: 'Raleway', sans-serif;
    text-align: left;
    font-size: 1.2em; /* 폰트 크기 증가 */
    color: #555;
}

.skills ul, .experience ul, #github-repos ul {
    list-style: none;
    padding: 0;
}

.skills li, .experience li {
    font-size: 1.2em; /* 폰트 크기 증가 */
    color: #555;
}

.footer {
    background-color: #f8f9fa;
    padding: 10px;
    text-align: center;
}

.contact-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.contact-info img {
    width: 30px;
    height: 30px;
}
